.venv/
__pycache__/

doc/papers/paper_*
!doc/lab-overview.pdf
!doc/summary-TalentCLEF.pdf

output/20*


latex/TFM.*
latex/indent.log
!latex/TFM.pdf
!latex/TFM.tex

__init__.py

temp.*

models/finetuned models/*
models/CrossEncoder*

DevNotes.md