.venv/
__pycache__/

doc/*
!doc/lab-overview.pdf
!doc/summary-TalentCLEF.pdf

src/output/*
!src/output/ranking*


latex/TFM.*
latex/indent.log
!latex/TFM.pdf
!latex/TFM.tex

__init__.py

temp.*

models/finetuned models/*