.venv/
__pycache__/

doc/*
!doc/lab-overview.pdf
!doc/summary-TalentCLEF.pdf

src/output/*
!src/output/ranking*


latex/Plantilla\ TFM.*
latex/fullname_esp.*
latex/indent.log
!latex/Plantilla\ TFM.pdf
!latex/Plantilla\ TFM.tex
